.signup_names{
                
    display: inline;
    width: 48%;
    float: left;
}

#signup_lastName{
    float: right;
}


.phoneNumber{
    font-size: 25px;
    float: left;
  }
  .phoneNumberRate{
    margin-top: 5px;
    float: right;
  }
  
  .description{
    
    display: block;
    float: left;
    margin-top: 20px;
  }
  .numberdetails{
    
    display: block;
    float: left;
    margin-top: 15px;
  }
  .modal_subheading{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .capability_description{
    
    margin-left: 40px;
    
  }
  
  .capability_icon{
    float: left;
    display: block;
    margin-top: 5px;
  }
  
  .capability_title{
    font-size: 18px;
  }
  
  
  
