secret_key: '&q$m$b)b&8_ttrxog=$pdgnmu=fkk(yyrn(x2aptiu(-g-u3za'
db_host: 'localhost'
db_username: 'root'
db_password: 'root'
db_name: 'acs'
db_engine: 'django.db.backends.mysql'
db_port: '3306'
allowed_hosts: ['*']
debug: True
encryption_key: 'tHfvWpDD6T1TVjv0WWnumEZ-Y78PEZV8vs7JcL-zK3w='

# req = self.initialize_request(request, *args, **kwargs)
