:root {
  --primary-color: #271035;
  --secondary-color: #7437a0;
  --dark-bg-color: #1a0028;
  --text-light-color: #9e9e9e;
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --linear-gradient: rgba(0, 0, 0, 0.4);

  --title-font: "Josefin Sans", sans-serif;
  --desc-font: "Poppins", sans-serif;
  --exp-font: "Overlock", sans-serif;
  --banner-title-font: "Khand", sans-serif;

  --cubic-bezier: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}