{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'assets/vendor/toastr.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper.min.js' %}"> </script>




<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/metismenu/dist/metisMenu.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/app2.js' %}"> </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.6.0/bootstrap-tagsinput.min.js" integrity="sha512-SXJkO2QQrKk2amHckjns/RYjUIBCI34edl9yh0dzgw3scKu0q4Bo/dUr+sGHMUha0j9Q1Y7fJXJMaBi4xtyfDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

 <!-- htmx -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.8.4/htmx.min.js" integrity="sha512-KaCnhbNFxSS4ydQMZ4zrTrk/Gf8wx2xPJ8tfZgkkmY6+hVql4eFa04HqMnM1RdUygzLEIByqbClYHvDoKm1H/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


 {% comment %} toaster {% endcomment %}
