{% load static %}

<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
             <span class="logo">
                <div>
                   <a href="{% url "servenline:login2_m" %}"><img style="background-color: snow" src="{% static "phuket/image/play999.png" %}" border="0" width="364" class="img-rounded" align="middle"></a>
                </div>
             </span>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="menu">
                <span>Menu</span>
                <li>
                   <a href="{% url "servenline:login2_m" %}">Login</a>
                </li>
                <li>
                   <a href="{% url "servenline:regist_m" %}">Open Account</a>
                </li>
                <li>
                   <a href="{% url "servenline:index_m" %}">Play Lottery</a>
                </li>
                <li>
                   <a href="/">VIP.Lottery Tips</a>
                </li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="menu">
                <span>Info</span> 
                <li>
                   <a href="{% url "servenline:howtoplay" %}">About Thailand lottery</a>
                </li>
                <li>
                   <a href="{% url "servenline:mywalletaddress" %}">Deposit for play</a>
                </li>
                <span>Contact</span>   
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:staff@7lineinc.com"> staff@7lineinc.com</a>
                 </li>
             </ul>
          </div>
       </div>
    </div>
 </footer>