{% load static %}
<!DOCTYPE html>
<html lang="en">

   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <HEAD>
      <TITLE>Thailand nationwide lottery .</TITLE>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <META content="The Thailand nationwide lottery and results check."  name="description">
      <META content="thai,Thailand,Thai,lotto,Lottery,lottery play,tip,tips,lottery bet " name="keywords">
      
      <link rel="icon" type="image/x-icon" href="{% static "favicon_io/favicon.ico" %}">
      

      <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
      <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">
      

      

      {% include "sevenline_main/base/css.html" %}

      {% block css %}{% endblock css %}

         <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTF6L89936"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WTF6L89936');
</script>
   </head>
   
   </head>
   <body>
      
      {% include "sevenline_main/base/header.html" %}
        {% block content %}
        
        
        {% endblock content %}

        {% include "sevenline_main/base/footer.html" %}
     
   </body>
</html>