{% load static %}

<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
             <span class="logo">
                <div>
                   <a href="{% url "servenline:index_m" %}"><img style="background-color: snow" src="{% static "extras/www.phuketnight.net/image/logo1.png" %}" border="0" width="364" class="img-rounded" align="middle"></a>
                </div>
             </span>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="menu">
                <span>Menu</span> 
                <li>
                   <a href="{% url "servenline:login" %}">Login</a>
                </li>
                <li>
                   <a href="{% url "servenline:signup" %}">Sign Up</a>
                </li>
                <li>
                   <a href="{% url "servenline:services" %}">VIP.Lottery Tips</a>
                </li>
                <li>
                   <a href="{% url "servenline:index_m" %}">Play Lottery</a>
                </li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="menu">
                <span>INFO</span>   
                <li>
                   <a href="vip_payment.html">Renew</a>
                </li>
                <li>
                   <a href="{% url "servenline:pw_reset" %}">Reset password</a>
                </li>
             </ul>
             <ul class="menu">
                <span>Contact</span>   
                <li>
                   <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:staff@7lineinc.com"> staff@7lineinc.com</a>
                </li> 
           </ul>
          </div>
       </div>
    </div>
 </footer>
 <div align="center" class="socialbtns">
    <ul>
       <li><a href="https://www.facebook.com/ISasima1234" class="fa fa-lg fa-facebook"></a></li>
       <li><a href="https://www.youtube.com/channel/UCr2jVjs1Ukj07rXqyl8QvGQ" class="fa fa-lg fa-youtube"></a></li>
       <li><a href="https://www.instagram.com/naayyungaesngkracchaang/" class="fa fa-lg fa-instagram"></a></li>
       <li><a href="cdn-cgi/l/email-protection.html#106364717676506379687c797e753e737f7d" class="fa fa-lg fa-envelope"></a></li>
    </ul>
 </div>
 <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
 </script>