

{% extends "puketsite/base/base.html" %}
{% load static %}
{% block content %}


      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-3">
               <img src="{% static "phuket/image/logo1.png" %}" class="rotate" class="img-rounded" align="middle" width="304">
               <div class="content">
                  <center>
                     <h4 style="color:white;">Count Down</h4>
                     <h4 style="color:white;">
                        357 hours : 37 minutes<br>to coming draw.
                     </h4>
                  </center>
               </div>
               <div id="content-desktop">
                  <img src="{% static "phuket/image/crypto2.png" %}" border='0' width='304'>
                  <img src="{% static "phuket/image/lottery.gif" %}" border='0' width='304'>
                  <img src="as" width='304'>
               </div>
            </div>
            <div class="col-sm-9" style="background-color:#165c03;">
               <h2>ABOUT US</h2>
               <p>
                  We aren't Banker but we are worldwide membership's represent who need to play ORIGINAL THAILAND LOTTERY.
                  Playing lotteries online is getting more and more popular nowadays. We'll tell you about the best online Thailand lottery site that works for many years and that is called reliable ones.
               </p>
               <h2>TIME TO PLAY</h2>
               <p>
                  <b> Drawn time</b>: This game drawn twice a month, each begins and middle of the month. The game was drawn by The Government Lottery Office Of Thailand [ www.glo.or.th ] normally on 1st. and 16th. date of the month at Time 03:00-04:00 PM. (GMT+07:00) 
                  <br>
                  <br><b> Last 3Digits winning</b>: Here the winning number is taken from the last 3 digits of original 6 number first prize winner. Example : First Prize winner is 123456 then the winning number for the pick 3 last numbers of lottery is 456 . Lowest number is 0 and the highest number is 9, select a combination consisting of three numbers from 0 to 9. If you get the winning number (straight bet) in the right order you'll win 500.00 THB. for every 1.00 THB. If you played the last 3digits but not in the right order ( Rumble bet ) then you'll win 100.00 THB. for every 1.00 THB., It depent on you choose to played. 
                  <br><br>
                  <b>Last 2Digits(UP)</b>: Here the winning number is taken from the last 2 digits of the original 6 numbers first prize winner. Example: First Prize winner is 123456 then the winning number for the pick 2 last numbers of the lottery is 56. The lowest number is 0 and the highest number is 9, select a combination consisting of two numbers from 0 to 9. If you get the winning number (straight bet) in the right order you'll win 60.00 THB. for every 1.00 THB. 
                  <br><br>
                  <b>2Digits(Down)</b>: Or you need to play 2Down Number You can bet too. If you get the winning number (straight bet) in the right order you'll win 60.00 THB. for every 1.00 THB, It depends on you choose to play. 
                  <br><br>
                  <b>Single Digit</b>:  Here the winning number is taken from 1 digit of Last 3Digits(Up) winner. Example: Last 3Digits(Up) is 456 then the winning number for Single Digit is 4 or 5 or 6. The lowest number is 0 and the highest number is 9. If you get the winning number of Single Digit, you'll win 300.0 THB. for every 100.0 THB. You can send Single Digit play number to our staff, email to staff@7lineinc.com and make payment 24Hrs. before the result come. 
                  <br><br>
                  <b> How to play</b>:  You can register to be our membership and send a money transfer to your deposit account then log-in to play online or send your play numbers to our staff, email to staff@7lineinc.com 24Hrs. before the result come.
               </p>
               <h2>YOU WIN A PRIZE IN:</h2>
               <p>
                  <b>Be sure to check </b>: Do you have enough deposit money for play? 
                  <br>Because of your play numbers have to pending or uncompleted if you don't make money transfer for it. Then you will get the alert message via email if you win any prize after the draw.  Win prize money will add to your deposit account soon.
               <div align="left">
                  <h2>Prize Rule Information</h2>
                  <table border='1' width='95%' align='center'>
                     <tr>
                        <td border='1' width='70%'><b>Play Type</b></td>
                        <td border='1' align='center'><b>Prize(THB)</b></td>
                     </tr>
                     <tr>
                        <td border='1'>1.) 3Digits Straight</td>
                        <td border='1'  align='center'>500</td>
                     </tr>
                     <tr>
                        <td border='1'>2.) 3Digits Rumble</td>
                        <td border='1' align='center'>100</td>
                     </tr>
                     <tr>
                        <td border='1'>3.) 2Digits(UP)</td>
                        <td border='1'  align='center'>60</td>
                     </tr>
                     <tr>
                        <td border='1'>4.) 2Digits(Down)</td>
                        <td border='1'  align='center'>60</td>
                     </tr>
                     <tr>
                        <td border='1'>5.) Single Digit</td>
                        <td border='1'  align='center'>3</td>
                     </tr>
                  </table>
                  <u>Note</u> : Fixed Prize for each 1 THB. play.
                  <br><br>
                  <h2>Deposit & Withdrawal</h2>
                  <br><b>Deposit / Withdrawal </b>: via Internet Banking and Crypto wallet,<a href="m/deposit_member_btc.html"> Bitcoin</a> or <a href="m/deposit_member_eth.html">Ethereum</a> can make online payments and send or receive money for memberships.
                  And 
                  <b><a href='https://paynow-app.com/PayNow'> PayNow </a></b>: is a secure funds transfer service via mobile number.
                  </p>
                  <h2>DO YOU NEED TO BE THE PLAYER? </h2>
                  <p>
                     <b> URGENT CONTACT</b>: We accept only 100 VIP members who need to bet ORIGINAL THAILAND LOTTERY at the moment. 
                     <br> <b>SERVICE CHARGE</b>: The membership registration is free of charge, Only be charged amount 3% of winning the prize. 
                     <br><br>
                  </p>
               </div>
            </div>
         </div>
      </div>
    

      {% endblock content %}
