
{% extends "puketsite/base/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col-sm-3">
          <img src="{% static "phuket/image/logo1.png" %}" class="rotate" class="img-rounded" align="middle" width="304">
          <div class="content">
             <center>
                <h3 ="color:snow;">Original Thailand lottery</h3>
                <h4 ="color:white;">Count Down</h4>
                <h4 style="color:white;">
                   357 hours : 37 minutes<br>to coming draw.
                </h4>
             </center>
          </div>
       </div>
       <div class="col-sm-9" style="background-color:#165c03;">
          <h2>ABOUT US</h2>
          <p>
             We aren't Banker but we are worldwide membership's represent who need to play ORIGINAL THAILAND LOTTERY.
             Playing lotteries online is getting more and more popular nowadays. We'll tell you about the best online Thailand lottery site that works for many years and that is called reliable ones.
          </p>
       </div>
    </div>
    </div>
 </div>


 {% endblock content %}