
      
      
{% extends "sevenline_main/base/base.html" %}

{% load static %}
{% block content %}
      
      <div class="container-fluid">
      <div class="row">
         <div class="col-sm-3">
            <div id="content-desktop">
               <div>
                  <br><br>
                  <img src="{% static "image/qr_7line.png" %}" class="img-rounded" align="middle" alt="www.sixline.com" width="304" height="236"> 
               </div>
            </div>
         </div>
         <div class="col-sm-9" style="background-color:#010410;">
            <br><br>
            <p>
               To boost your odds of winning numbers, SignUp & make payment to be VIP. membership. 
            </p>
            <hr>
            <h2>Contact </h2>
            <h3>
               email:<a href="staff@sevenlineinc.com"><span class="__cf_email__">staff@sevenlineinc.com</span></a>
               <br>For common questions or to reach our Support team.<br><br> 
            </h3>
         </div>
      </div>
      <hr>
  {% endblock %}
      