
{% extends "sevenline_main/base/base.html" %}

{% load static %}
{% block content %}
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-3">
               <div id="content-desktop">
                  <div>
                     <img src="{% static "image/image13.jpg" %}" class="img-rounded" align="middle" alt="www.sevenlineinc.com" width="304" height="236"> 
                  </div>
               </div>
            </div>
            <div class="col-sm-9"style="background-color: #8E0000;">
               <div class="row">
                  <center>
                  <h2>Statistic</h2>
                  <div>
                     <img class="img-rounded" align="middle" src="{% static "image_content/zzzxxxyyy.png" %}" alt="www.sevenlineinc.com" width="340" >
                     <br>
                     Link more: <a href="vip_line.html">VIP.statistic</a>
                  </div>
                  <table width="800%" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                        <html>
                           <head>
                              <script>
                                 function showUser(str)
                                 {
                                 if (str=="")
                                   {
                                   document.getElementById("txtHint").innerHTML="";
                                   return;
                                   } 
                                 if (window.XMLHttpRequest)
                                   {// code for IE7+, Firefox, Chrome, Opera, Safari
                                   xmlhttp=new XMLHttpRequest();
                                   }
                                 else
                                   {// code for IE6, IE5
                                   xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                                   }
                                 xmlhttp.onreadystatechange=function()
                                   {
                                   if (xmlhttp.readyState==4 && xmlhttp.status==200)
                                     {
                                     document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                                     }
                                   }
                                 xmlhttp.open("GET.html","getuserb2e6.html?no="+str,true);
                                 xmlhttp.send();
                                 }
                              </script>
                           </head>
                           <body>
                              <font color="#000000">
                                 <form>
                                    <select name="users" onchange="showUser(this.value)">
                                       <option value="">Select a digit:</option>
                                       <option value="0">0</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                       <option value="5">5</option>
                                       <option value="6">6</option>
                                       <option value="7">7</option>
                                       <option value="8">8</option>
                                       <option value="9">9</option>
                                    </select>
                                 </form>
                              </font>
                              <br>
                              <div id="txtHint"><b>Statistic detail will show here.</b></div>
                           </body>
                          
                        </html>
                     </tr>
                  </table>
   </body>
</html>
</div>
</div>
</div>
</div>
</div>
<hr>
{% endblock content %}