
{% extends "sevenline_main/base/base.html" %}

{% load static %}
{% block content %}
<div class="content">
  <div class="row">
     <div class="col-sm-3">
        <div id="content-desktop">
           <br><br>
           <img src="{% static "image/qr_sixline.png" %}" class="img-rounded" align="middle" alt="www.sixline.com" width="304" height="236"> 
           <br>
           <a href="preview_tip.html"><img style="background-color:white;" src="{% static "image_content/pdf_general-2.png" %}" class="img-rounded" align="middle" alt="www.sixline.com" width="304" height="236"></a> 
        </div>
        <div id="content-mobile">
           <p> We are an original weekly lottery lover from Thailand. To provide the best digits for play and boost your odds winning the lottery prize. All our predictions are collected from lottery resources in Thailand.
           </p>
        </div>
        <br>
        <img src="{{result_img.url}}" class="img-rounded" align="middle" alt="www.sixline.com" width="304" height="236"> 
        <center>
           <br>
           <center>
              <table border='1' width='90%' align='center' bgcolor='silver'>
                 <tr>
                    <th>Drawn on</th>
                    <th>1st. prize</th>
                    <th>3Up</th>
                    <th>2Up</th>
                    <th>2Down</th>
                 </tr>
                 {% for date_result in result_list %}
                 <tr>
                    <td align='center'>{{date_result.date|date:"Y-m-d"}}</td>
                    <td align='center'>{{date_result.first_prize}}</td>
                    <td align='center'>{{date_result.get_three_up}}</td>
                    <td align='center'>{{date_result.get_two_up}}</td>
                    <td align='center'>{{date_result.two_down}}</td>
                 </tr>
                 {% endfor %}
                
              </table>
           </center>
           <center><font color='snow'>Link to : <a href='http://www.glo.or.th/main.php?filename=glo_lotto'>glo.or.th</a> for full detail.</font></center>
        </center>
     </div>
     <div class="col-sm-9"style="background-color:#8E0000;">
        <div id="main">
           <div id="content-desktop">
              <p> We are an original weekly lottery lover from Thailand. To provide the best digits for play and boost your odds winning the lottery prize. All our predictions are collected from lottery resources in Thailand.
              </p>
           </div>
           <div class="row">
              <H1><span class=red>Special</span> Note</H1>
              <div class="column">
                 <img class="img-rounded" align="middle" src="{% static "pdf/resouce_image/special2304236H4Klf530xUODCFcpaC.png" %}" alt="www.sixline.com" width="304" height="236"> 
                 <h4>Wise is the worldwide money transfer.</h4>
              </div>
              <div class="column">
                 <p>Make payment to be our VIP. membership via Wise.</p>
                 <br><br>
                 Link more: <a href="https://wise.com/share/chamnongs2?vip=x">Link to special</a>
              </div>
           </div>
        </div>
        <div id="main">
           <div class="row">
              <h1><span class=red>X-Cross</span> Formula</h1>
              <div class="column" style="height: auto;">
                 <h4>
                    To boost your odds of winning numbers by X-CROSS Formula , Secret Of Digits and More here!
                 </h4>
              </div>
              <div class="column" style="height: auto;">
                 <br><img class="img-rounded" align="middle" src="{% static "image_content/image2mysql/tip/x_cross.jpg" %}" alt="www.sixline.com" width="304" height="236"> 
                 <br>
                 link more: <a href="vip_formula.html">VIP.Formula</a>
              </div>
           </div>
        </div>
        <div id="main">
           <div class="row">
              <h1><span class=red>VIP.</span> Magazine</h1>
              <div class="column" style="height: auto;">
                 <img class="img-rounded" align="middle" src="{% static "pdf/resouce_image/sasima240823yl9IqsbWaOmD3gFSX5o.png" %}" alt="www.sixline.com" width="304" height="236"> 
                 <h4>Miss Sasima said 4-7-2-9 are the best for bet on 2024-09-14 </h4>
              </div>
              <div class="column" style="height: auto;">
                 <p>
                    The easiest way to boost your odds of winning numbers. Best digits from Miss Sasima for VIP. memberships.<br>      
                 </p>
                 Link more: <a href="vip_mag.html">VIP.Magazine</a> 
              </div>
           </div>
        </div>
        <div id="main">
           <div class="row">
              <h1><span class=red>Statistic</span> records </h1>
              <div class="column">
                 <h4>The best statistic of winning records and prediction for next draw.</h4>
              </div>
              <div class="column">
                 <img class="img-rounded" align="middle" src="{% static "pdf/resouce_image/zzzxxxyyy.png" %}" alt="www.sixline.com" width="304" height="236">
                 <br>Link more: <a href="vip_line.html">VIP.statistic</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

{% endblock content %}